h1 {
  font-size: 1.5rem;
}

.rockTheCode-carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  border: 1px solid var(--primary-color);
  margin: 0 auto;
}

.scrollable-set {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 0.1rem;
}

li.clickable {
  min-width: 100px;
}

li.clickable > img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

div.image-preview {
  flex: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .rockTheCode-carousel {
    width: 1050px;
    flex-direction: row;
    align-items: stretch;
    height: 500px;
    overflow: hidden;
  }

  .scrollable-set {
    display: block;
    height: 100%;
    max-width: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
